{% extends 'luach/base.html' %}
{{ form.media }}
{% block content %}
    <div class="container">
        <div class="jumbotron">
        <br>
        <br>
        <br>
            <form method="POST">
                {% csrf_token %}

                {{form.mazel_tov}}

                <br>
                <H6 class="text-danger">*Do not write more then 3 lines, it will cut of some of the words*</H6>
                <p>keep till {{form.keep_till}}</p>
                <button type='submit' class='btn btn-success'>save</button>




            </form>
        </div>
    </div>
    <!--<script>
        var editor = new MediumEditor('.editable');
    </script>-->
{% endblock  %}
